@model IEnumerable<Experiencia>
@{
    Layout = "_Layout_OnlyCima";
}
@*@{
    ViewData["Title"] = "Index";
}*@
<style>


* {
  font-size: 1rem;
}

    h1 {
        text-align: center;
        color: rgba(0,0,0,0.7);
        font-weight: bold;
        font-size: 30px;
    }


.body-experiencia {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  /* display: grid; */
 /* background: linear-gradient(68.15deg, #d37f8d 16.62%, #e65f75 85.61%);*/
}

.container {
    padding: 0px 0px;
}


.conteudo {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  color: #000;
  padding: 0px 0px;
  gap: 20px;
  
  /*background: linear-gradient(68.15deg, #d37f8d 16.62%, #e65f75 85.61%);*/
}

.post {
  display: grid;
  padding: 20px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  gap: 10px;
}

.post .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.post .post-data {
  color: #717171;
  font-size: 0.8rem;
  font-weight: 600;
}

.post .post-icon {
  width: 1rem;
}

.post-subtitulo {
    font-size: 16px;
    text-transform: lowercase;
}

.post-descricao{
  word-wrap: break-word;
  max-width: 35ch;
  text-align: left;

}


h1 {
    text-align: center;
    color: #eee1e1;
}

.datas-experiencias {
    margin: 0px;
    padding: 0px;

    font-size: 0.6rem;
    color: gray;
    gap: 0px;

}

.datas-experiencias p {
    margin: 0px;
            font-size: 0.7rem;
}

    .estrelas-icone {
        color: gold;
        font-size: 0.6rem;
        margin-bottom: 25px
    }

    .opcoes-admin {
        display: none;
    }

    @@media (min-width: 1000px) {
        .body-experiencia {
            background: #f9f9f9;
            margin: 0;
            padding: 0;
            /* display: grid; */
            /* background: linear-gradient(68.15deg, #d37f8d 16.62%, #e65f75 85.61%);*/
        }

        .container {
            padding: 0px 0px;
        }


        .conteudo {
            display: grid;
            justify-content: center;
            margin: 0 auto;
            color: #000;
            padding: 0px 0px;
            gap: 20px;
            /*background: linear-gradient(68.15deg, #d37f8d 16.62%, #e65f75 85.61%);*/
        }

        .post {
            display: grid;
            padding: 20px;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            gap: 10px;
        }

            .post .post-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
            }

            .post .post-data {
                color: #717171;
                font-size: 1rem;
                font-weight: 600;
            }

            .post .post-icon {
                width: 1rem;
            }

        .post-subtitulo {
            font-size: 16px;
            text-transform: lowercase;
        }

        .post-descricao {
            word-wrap: break-word;
            max-width: 80ch;
            text-align: left;
        }


        h1 {
            text-align: center;
            color: #eee1e1;
        }

        .datas-experiencias {
            margin: 0px;
            padding: 0px;
            font-size: 0.6rem;
            color: gray;
            gap: 0px;
        }

            .datas-experiencias p {
                margin: 0px;
                font-size: 0.9rem;
            }

        .estrelas-icone {
            color: gold;
            font-size: 0.8rem; 
            margin-bottom:25px
        }

        .opcoes-admin {
            display: block;
        }
    }

</style>


<div class="body-experiencias">

<h1 style="color:rgba(0,0,0,0.8); margin-bottom: 20px">Experiencias</h1>

<main>

    <article aria-label="noticia" class="conteudo">

        @foreach (var item in Model) {

        <div class="post">
            <div class="post-header">
                <p class="post-data">@item.DataPostagem</p>
                        
                        <div style="margin: 0px;">
                            @for (var i = 0; i < (int)item.Nota; i++)
                            {
                                <i class="fa-solid fa-star estrelas-icone"></i>
                            }
                            <br>
                            <div class="opcoes-admin">
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                                </div>
                        </div>
                        
                </div>

            <h2 class="post-subtitulo">@@_@item.NomeVoluntario:</h2>
            <p class="post-descricao">@item.Opiniao</p>

            <div class="datas-experiencias">
                <p class="post-data-inicio">Inicio: @item.DataExperienciaInicio</p>
                <p class="post-data-fim">Fim: @item.DataExperienciaInicio</p>
                <p class="post-data-projeto">Projeto: @item.ProjetoEnvolvido</p>
                <p class="post-data-ong">Ong: @item.NomeOng</p>
            </div>
        </div>
        }

       
    </article>
</main>

@*<footer class="footer">
    <p>Codelandia. Todos os Direitos Reservados.</p>
</footer>*@

</div>